
/* start animatednav */
.navbody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(../images/muna1.gif) no-repeat 50% 50%;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.gif-overlay {
  margin: 0%;
  padding:0%;
  width: 100%;
  height: 100vh;
  background: rgba(14,14,14,0.8);
  z-index: -1;
}

.nav {
  /* position: fixed; */
  position: relative;
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,0.5);
}

.artist {
  z-index: 2;
  position: fixed;
  line-height: 80px;
  margin: 0 40px;
  color: #fff;
}

.watch {
  z-index: 2;
  position: fixed;
  line-height: 80px;
  right: 140px;
  color: grey;
  padding: 0 10px;
  font-family: "Helvetica";
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 4px;
}

.watch .watchicon {
  z-index: 2;
  position: relative;
  top: 1px;
  padding-right: 6px;
}

.menuwrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes grain {
  0%, 100% { transform: translate(0, 0);}
  10% { transform: translate(-5%, -10%);}
  20% { transform: translate(-15%, 5%);}
  30% { transform: translate(7%, -25%);}
  40% { transform: translate(-5%, 25%);}
  50% { transform: translate(-15%, 10%);}
  60% { transform: translate(15%, 0%);}
  70% { transform: translate(0%, 15%);}
  80% { transform: translate(3%, 35%);}
  90% { transform: translate(-10%, 10%);}
}

.menu {
  z-index: 2;
  position: fixed;
  line-height: 80px;
  right: 0;
  margin: 0 40px;
  font-size: 20px;
  color: #fff;
  padding-top: 4px;
  z-index: 10000;
  cursor: pointer;
}

.linkrow, .linkcol {
  margin: 0 !important;
  padding: 0 !important;
} 
.linkcol {
  height: 100vh;
}

.linkcol.overlay {
  /* background: #000; */
  /* position: absolute; */
  top: -100%;
  /* z-index: 1000; */
}

.linkcol.overlay.active {
  z-index: 1000;
  top: 10%;
  position: absolute;
  background: #000;
}

.navshowul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.navshowul.actived {
  opacity: 1;
}

.navshowul li {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}


.navshowul li:not(:last-child) {
  margin-right: 50px;
}

.navshowul li:first-child:hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/aladdin.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

.navshowul li:nth-child(2):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/johnwick.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

.navshowul li:nth-child(3):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/lastman.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

.navshowul li:nth-child(4):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/twilight.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

.navshowul li:nth-child(5):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/xmen.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

.navshowul li:last-child:hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/narcos.jpg)center/cover no-repeat;
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -160px;
  }
  50% {
    opacity: 1;
    top: -180px;
  }
  100% {
    opacity: 1;
    top: -180px;
  }
} 

.hero-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48vw;
  height: 46vh;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/merry1.gif) no-repeat 50% 50%;
  background-size: cover;
  animation: animateGIF 4s cubic-bezier(0, .58, 1, .58);
  /* animation-delay: 2s; */
}

@keyframes animateGIF {
  0% {
    width: 100%;
    height: 100vh;
  }

  40% {
    width: 100%;
    height: 100vh;
  }

  100% {
    width: 48vw;
    height: 46vh;
  }
}

.hero-title {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.hero-title h1 {
  color: red;
  font-size: 80px;
  margin-bottom: 0%;
}

.glitch {
  position: relative;
}

.glitch::before,.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 4px;
  text-shadow: -30px 0 rgba(0, 174, 255);
  background: #000;
}

.glitch::after {
  left: -2px;
  text-shadow: -3px 0 blue;
  background: rgb(146, 145, 145);
  animation: noise-anim 2s infinite alternate-reverse
}

.glitch::before {
  clip: rect(54px, 250px, 56px, 40px);
  animation: noise-anim 2s infinite alternate-reverse
}

@keyframes noise-anim {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);   
  }
  40% {
    clip-path: inset(43% 0 1% 0);   
  }
  60% {
    clip-path: inset(25% 0 58% 0);   
  }
  80% {
    clip-path: inset(54% 0 7% 0);   
  }
  100% {
    clip-path: inset(58% 0 43% 0);   
  }
}

.hero-title p {
  color: white;
  font-size: 15px;
  font-family: 'Helvetica';
  letter-spacing: 14px;
  font-weight: 700;
}

.social-media {
  position: absolute;
  bottom: .5%;
  transform: translateY(-50%);
}

.social-media ul li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
  color: grey;
  font-size: 12px;
  font-weight: 100;
}

.listensong {
  position: absolute;
  bottom: 0;
  right: 40px;
  transform: translateY(-50%);
}

.listensong ul li {
  display: inline-block;
  color: #fff;
  list-style: none;
  padding: 0 10px;
}

#rotated {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.rotatethis {
  position: absolute;
  top: 54%;
  left: 74%;
  transform: translate(-50%, -50%);
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width:900px){
  .watch, .rotatethis, .hero-title p, .hero-gif {
    display: none;
  }

  .hero-title {
    top: 45%;
    left: 50%;
  }

  .hero-title h1 {
    font-size: 32px;
  }

  .navshowul li {
    text-align: center;
    display: block !important;
    margin: 0% !important;
    padding: 20px 0;
  }

  .navshowul li:hover::before{
    width: 0% !important;
  }
}
/* end animatednav */


/* start header */
.header {
  padding: .5rem 2.5rem 4.5rem 1rem;
  display: flex;
  justify-content: space-between;
  /* background: rgba(0,0,0,0.9); */
  background: rgba(2, 11, 36, 0.9);
  /* background: #b46a36; */
  color: white;
  position: sticky;
  top: 0;
  z-index: 900;
}

.headerleft {
  font-size: 1.3rem;
  /* color: cyan; */
  color: #e316b7;
}

.headerright{
  display: none;
}

.headerrightlists {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.headerrightlist {
  margin-left: 1rem;
  cursor: pointer;
  transition: all .5s ease ;
}

.headerrightlist .submenu1{
  display: none;
}

.headerrightlist .submenu1 ul {
  list-style: none;
}

.headerrightlist:hover .submenu1 {
  display: block;
  position: absolute;
  background: #d50707;
  color: white;
  margin-top: 7px;
  margin-left: -16px;
  padding: .5rem;
} 

.headerrightlist .submenu1 ul li {
  margin-left: -2rem;
  padding: .5rem;
}

.headerrightlist .submenu1 ul li:hover {
  background: #e316b7;
  border-radius: 3px;
}

/* .headerrightdrop {
  background: #e316b7;
} */


.headerrightlist.home, .headerrightlist:hover {
  background: #e316b7;
  color: black;
  padding: .3rem 1rem;
  border-radius: 2px;
}
/* end header */

/* start navicon */
.navicon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  z-index: 1000;
}
/* end navicon */
/* start sidedrawer */
.sidedrawer {
  position: relative;
  z-index: 100;
}
/* end sidedrawer */
/* start banner */
.banner {
  /* background: rgba(0,0,0,0.9); */
  background: rgba(2, 11, 36, 0.9);
  /* background: #b46a36; */
  color: white;
  padding: 1rem;
}

.bannerlefttitle {
  letter-spacing: .2rem;
  font-weight: 800;
}

.bannerlefttext {
  line-height: 1.7rem;
  font-weight: 500;
}

.bannerleftbutton {
  padding: .5rem 2rem;
  background: transparent;
  color: white;
}

.bannerleftbutton.writer{
  background: #e316b7;
  color: black;
}

.bannerleftbutton:hover {
  background: #e316b7; 
  color: white !important;
}

.bannerrightimage {
  margin-top: 1rem;
  width: 400px;
  height: 400px;
}
/* end banner */

/* start header */
.video {
  /* width: 100%; */
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
/* end header */

/* start registration */
.registercontainer {
  background: #d50707;
  margin: 0 3rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* padding: 1rem; */
  text-align: center;
}

.register{
  padding: 1rem;
  color: white;
  /* border: 1px solid white; */
  transition: all 1s linear;
  /* display: flex;
  flex-direction: column; */
  /* height: 200px; */
}

.register:hover {
  background: rgba(0,0,0,0.7);
  padding: 1.5rem;
}

.register h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.buttonregister {
  background: #e316b7;
  color: black;
  font-weight: 600;
  width: 200px;
  margin: .5rem auto;
}

.registericon {
  font-size: 2rem;
  margin: .5rem auto;
}
/* end registration */

/* start about */
.aboutcontainer {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column-reverse;
}

.aboutcontainer .aboutleft {
  width: 100%;
  padding: 0 1rem;
}

.aboutcontainer .aboutlefttext {
  width: 100%;
  font-size: 1.2rem;
}

.aboutcontainer .aboutright {
  width: 100%;
}

.aboutcontainer .aboutright .aboutrightimage{
  /* width: 500px; */
  width: 25rem;
}
/* end about */

/* start latestscript */
.scriptmain {
  background: rgba(2, 11, 36, 0.9);
  color: white;
}

.scriptopsection {
  text-align: center;
  width: 100%;
}

.scripttopsectiontitle {
  text-align: center;
  color: #e316b7;
  margin-bottom: 2rem;
}

.scripttopsectionlists {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.scripttopsectionlist {
  margin-left: .5rem;
}

.scripttopsectionlist .initial {
  padding: .3rem;
  font-size: 1.7rem;
  border-radius: 50%;
}

/* .scripttopsectionlisttitle {
  padding: .5rem 1rem;
} */
.scripttopsectionlist .searchbtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scriptbottomsection {
  padding: 2rem;
  /* padding: 3rem; */
}
.scriptbottomsectionarticle {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.scriptbottomsection .scriptbottomsectionarticlenote{
  margin-left: 1rem;
}
.servicebottomsection .servicebottomsectionicon {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.botharticle {
  position: relative;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}

.articlebutton {
  background: #e316b7;
  color: white;
}

.botharticle .back {
  transform: rotateY(90deg);
}

.botharticle .front {
  position: absolute;
}

.botharticle .front .frontimage {
  height: 250px;
  border-radius: 10px;
  width: 400px;
}


.botharticle:hover .front {
  animation: twirl 0.2s ease-in forwards;
}

.botharticle:hover .back {
  animation: twirl 0.2s 0.2s ease-out forwards reverse;   
}
/* end latestscript */

/* start recognition */
.recognition {
  background: #d50707;
  color: white;
  padding: 1rem 3rem;
  align-items: center;
}

.recognitiontitle {
  display: flex;
  align-self: center;
  margin-right: 1rem;
}

.irokoimg {
  width: 200px;
}
/* end recognition */

/* start testimonial */
.maintestimonial {
  font-size: 2rem;
  font-weight: 700;
  color: #e316b7;
  text-align: center;
  letter-spacing: .3rem;
}

.testimonialcontainer{
  margin-bottom: 2rem;
  /* height: 500px;; */
}

.testimonialsectionright {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/merry.jpg)center/cover no-repeat;
  color: white;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,200px));
  grid-template-rows: repeat(2,200px);
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.testimonialsectionleft{
  margin-top: 2rem;
  display: flex;
  align-self: center;
}

.awardcontainer{
  margin-top: 6rem;
}

.clientscontainer{
  margin-top: 6rem;
}

.employeescontainer{
  margin-top: 6rem;
}

.projectscontainer{
  margin-top: 6rem;
}

.awardnumber {
  font-size: 2.5rem;
}
.clientsnumber {
  font-size: 2.5rem;
}
.employeesnumber {
  font-size: 2.5rem;
}
.projectsnumber {
  font-size: 2.5rem;
}

.awardtext {
  font-size: 1.2rem;
}
.clientstext {
  font-size: 1.2rem;
}
.employeestext {
  font-size: 1.2rem;
}
.projectstext {
  font-size: 1.2rem;
}
/* end testimonial */

/* start footer */
.footercontainer {
  background: #d50707;
  color: white;
  padding: 1rem;
}


  .footertop {
      margin-bottom: 1rem;
  }

.footertopleft .footertoplefttitle {
    font-family: "Sofia", cursive;
    /* border-right: 1px solid white; */
    padding-right: .5rem;
    margin-bottom: 2rem;
    color: #e316b7;;
  }

       
  .footertopmiddle .footertopmiddlelists {
        list-style-type: none;
    }
      


  .footerinput {
      border: 1px solid black !important;
      border-radius: 5px !important; 
      padding: .5rem 1rem !important;
      color: rgba(0,0,0,0.7) !important;
      background: white;
      display: flex;
  }

  .footersubmit {
      color: white;
      margin-top: 1rem;
      background: #e316b7;;
      /* font-weight: 700; */
  }
   

  .footerbottom {
      display: flex;
      justify-content: space-between;
      border-top: 1.5px solid white;
      padding-top: .5rem;
      margin-right: 3rem;
      margin-left: 3rem;
  }

  .footerbottomright .footerbottomrighticon {
        font-size: 1.5rem;
        margin-left: .5rem;
    }
      
/* end footer */

@media screen and (min-width:576px) {

  .navshowul li:not(:last-child) {
    margin-right: 80px !important;
  }

  /* .navicon {
    display: block !important;
  }
  .naviconcontent {
    display: block !important;
  } */
  .banner {
    display: flex;
    color: white;
    padding: 1rem;
    justify-content: space-between;
  }

  .bannerleft {
    width: 50%;
    margin-top: 2rem;
  }

  .bannerlefttitle {
    letter-spacing: .2rem;
    margin-bottom: 1rem;
  }

  .bannerleftbutton {
    padding: .5rem 1.5rem;
    background: transparent;
    color: white;
  }

  .bannerleftbutton.writer {
    background: #e316b7;
    color: black;
  }

  .bannerright{
    width: 50%;

  }

  .aboutcontainer .aboutleft {
    width: 100%;
    padding: 4rem;
    line-height: 2rem;
}

.aboutcontainer .aboutlefttext {
    width: 100%;
    font-size: 1rem;
}

  .registercontainer {
    display: flex;
  }
  .register {
    width: 50%;
  }

  .scripttopsectionlisttitle {
    padding: .5rem 1rem;
  }

  .scriptbottomsectionarticle {
    padding: 2rem;
  }
  
  .recognition {
    align-items: center;
    padding: 1rem 6rem;
  }

  .recognitiontitle {
    display: flex;
    align-self: center;
  }

  .footercontainer {
    background: #d50707;
    color: white;
    padding: 1rem;
  }

  .footertop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 200px 200px;
      justify-content: space-around;
  }

  .footertopleft {
      grid-template-columns: 1/2;
      grid-template-rows: 1/2;
  }

  .footertoplefttitle {
      font-family: "Sofia", cursive;
      /* border-right: 1px solid white; */
      padding-right: .5rem;
  }

  .footertopmiddle {
      grid-template-columns: 2/3;
      grid-template-rows: 1/3;
  }

  .footertopmiddletitle {
      margin-left: 1rem;
      border-bottom: 1.5px solid white;
      padding-bottom: .8rem;
  }

  .footertopmiddlelist {
      list-style-type: none;
      margin-left: -2.5rem;
      display: flex;
  }

  .footertopmiddlelisticon {
      font-size: 1.3rem;
      margin-top: .3rem;
  }

  .footertopmiddlelisttext {
      margin-left: .6rem
  }

  .footertopright {
      grid-template-columns: 1/2;
      grid-template-rows: 2/3;
      margin-top: 1.5rem;
  }

  .footerinput {
      width: 250px;
      display: flex;
  }
}

@media screen and (min-width: 768px) {
  .headerright{
    display: block;
  }

  .navicon {
    display: none;
  }

  .banner {
    display: flex;
    color: white;
    padding: 1rem 5rem;
    /* justify-content: space-around; */
  }

  .bannerleft {
    width: 50%;
    /* margin-top: 2rem; */
  }

  .bannerlefttitle {
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    /* margin-top: 3rem; */
  }

  .bannerlefttext {
    line-height: 1.9rem;
    margin-bottom: 5rem;
  }

  .bannerleftbutton {
    padding: .5rem 3rem;
    background: transparent;
    color: white;
  }

  .bannerleftbutton.writer {
    background: #e316b7;
    color: black;
    margin-right: .5rem;
  }

  .bannerright{
    width: 30%;
    box-shadow: 3px 3px 3px 3px black;
    /* margin-right: -6rem; */
  }

  .aboutcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* margin: 1rem; */
}

.aboutcontainer .aboutleft {
    width: 70%;
    padding: 4rem;
    /* line-height: 2rem; */
}

.aboutcontainer .aboutlefttext {
    width: 80%;
    /* font-size: 1.2rem; */
}

.aboutcontainer .aboutright {
    width: 50%;
    display: flex;
    align-items: center;
}

.aboutcontainer .aboutright .aboutrightimage{
    /* width: 500px; */
    width: 30rem;
    /* margin-left: 3rem; */
}

.scriptopsection {
  text-align: center;
  width: 100%;
}

.scripttopsectiontitle {
  text-align: center;
  color: #e316b7;
  margin-bottom: 2rem;
}

.scripttopsectionlists {
  display: flex;
  justify-content: center;
  list-style: none;
}

.scripttopsectionlist {
  margin-left: 1rem;
}

.scripttopsectionlisttitle {
  padding: .5rem 2.5rem;
}

.scriptbottomsection {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-content: center;
}

.scriptbottomsectionarticle {
    width: 90%;
}
}

@media screen and (min-width:992px) {
    .banner {
    display: flex;
    color: white;
    padding: 1rem 5rem;
    /* justify-content: space-around; */
  }

  .bannerleft {
    width: 50%;
    margin-top: 2rem;
  }

  .bannerlefttitle {
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .bannerlefttext {
    line-height: 1.9rem;
    margin-bottom: 5rem;
  }

  .bannerleftbutton {
    padding: .5rem 3rem;
    background: transparent;
    color: white;
  }

  .bannerleftbutton.writer {
    background: #e316b7;
    color: black;
    margin-right: .5rem;
  }

  .bannerright{
    width: 30%;
    box-shadow: 3px 3px 3px 3px black;
    /* margin-right: -6rem; */
  }

  .scripttopsectionlist.showsearch {
    margin-top: 0 !important;
  }

  .scripttopsectionlist .searchbtn {
    margin-bottom: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

      .scriptbottomsection {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        padding-bottom: 6rem;
    }

    .scriptbottomsectionarticle {
        width: 90%;
    }

    .scriptbottomsectionicon {
        font-size: 3rem;
        margin-top: 0.5rem;
    }

    .maintestimonial{
      display: none;
  }

  .testimonialcontainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .testimonialsectionleft{
    width: 50%;
  }
  .testimonialsectionright{
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footercontainer {
  background: #d50707;
  color: white;
  padding: 1rem;
}

.footertop {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px,300px));
    grid-template-rows: auto;
    justify-content: space-around;
}

.footertopleft .footertoplefttitle {
    font-family: "Sofia", cursive;
    /* border-right: 1px solid white; */
    padding-right: .5rem;
}

.footertopmiddle .footertopmiddletitle {
      margin-left: 1rem;
      border-bottom: 1.5px solid white;
      padding-bottom: .8rem;
  }

  .footertopmiddlelist {
      list-style-type: none;
      margin-left: -2.5rem;
      display: flex;
  }

  .footertopmiddlelisticon {
      font-size: 1.3rem;
      margin-top: .3rem;
  }

  .footertopmiddlelisttext {
      margin-left: .6rem
  }

}

@keyframes twirl{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(90deg);}
}